body{
font-family: Verdana, Geneva, Tahoma, sans-serif ;
height: 90vh;
margin: 0 auto;
display: grid;
place-content: center;
}

img{
    height: 150px;
    width: 120px;
    border: 1px solid black;
    border-radius: 20px;

}
.card{
    display: flex;
    justify-content: space-around; 
    margin: 0 auto;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #f8f7f1;
    box-shadow: 6px 7px 5px -4px rgba(0,0,0,0.25)
}
.card:hover{
transition: ease-in-out 0.3s;
box-shadow: 6px 7px 5px -4px rgba(0,0,0,0.45)
}


.dotted{
    border: 1px dotted blue;
}